html, body{
	height:100%;
	background: #CBF6FF
}
body{
	display:flex;
}
p{
	margin: auto;
	font-family: 'Orbitron';
	font-size:2em;
	color:#000000;
}

i {
	font-size: 175px;
	margin: 0 auto;
	color: #FFFF0A

}

iframe {
	height: 0px;
	width: 0px;
}